<div class="widget-box pos-r border-b18f">
  <div class="m-b-10"></div>
  <div class="m-h-10 p-v-15">
    <%= render :partial => 'shared/coming_soon_activity_stream' %>
  </div>
  <div class="foot pos-a bg-f0f0f0">
    <div class="left-foot fl-l"></div>
    <div class="right-foot fl-r"></div>
    <div class="center-foot"></div>
  </div>
</div>