<ul class="filter-alphabets m-t-15 nav m-0 m-t-10 fg-shinyblue">
  <% _running = 0 %>
  <% alphabet_options.each do |option| %>
    <% _running += 1 %>
    <li class="
        <%= 'first' if _running == 1 %>
        <%= 'last' if _running == alphabet_options.count %>
        p-h-15">
      <%= radio_button_tag(
              'alpha',
              option[1],
              option[1] == params[:alpha],
              :class => 'checked-label-highlight visuallyhidden'
          ) %>
      <%= label_tag "alpha_#{ option[1] }", option[0] %>
    </li>
  <% end %>
</ul>