<div class="widget-box pos-r m-b-20">

  <div class="bar bg-red m-1"></div>

  <h3 class="_header fg-333 fs-20 p-v-5 f-tr-lc p-h-15">
    my follow feed
  </h3>

  <div>

  </div>

  <div class="foot pos-a">
    <div class="left-foot fl-l"></div>
    <div class="right-foot fl-r"></div>
    <div class="center-foot"></div>
  </div>
</div>
<!-- widget -->