<%= content_for :title, "About Us" %>
<div id="main" role="main">

  <div class="line m-h-15">

    <h2 class="_header fs-29 m-b-15">
      About Us
    </h2>

    <div class="unit size2of3 p-b-15 fs-14">
      <div class="widget-box pos-r p-15 bg-f0f0f0">

        <div class="ec">
          <%= raw @content %>
        </div>

        <div class="foot pos-a bg-f0f0f0">
          <div class="left-foot fl-l"></div>
          <div class="right-foot fl-r"></div>
          <div class="center-foot"></div>
        </div>
      </div>
      <!-- widget -->

    </div>
    <!-- .unit -->

    <div class="unit size1of3">
      <div class="ec m-l-20">
        <article>
          <img src="/images/about/knight-news-challenge.jpg" alt="Knight News Challenge Logo" />
          <p>2010 Knight News Challenge <strong>Winner</strong></p>
          <p>&ldquo;Stroome has seamlessly replaced text with video. The result is noting short of the &lsquo;Holy Grail&rsquo; in participatory journalism&rdquo;</p>
          <br />
          <br />
        </article>

        <article>
          <img src="/images/about/the-paley-center-for-media.jpg" alt="Paley Center IC New News Entrepremeur Logo" />
          <p>2010 Paley Center IC <strong>New News Entrepreneur</strong></p>
          <p>&ldquo;An exceptionally compelling idea for inding, creating and preseting digital news content.&rdquo;</p>
          <br />
          <br />
        </article>

        <article>
          <img src="/images/about/guardian-uk.jpg" alt="Guardian UK logo" />
          <p>2010 Guardian UK <strong>&ldquo;Top 5 Social Network Worth a Browse&rdquo;</strong></p>
          <p>&ldquo;Equally - if not more - useful than the big boys of the online world.&rdquo;</p>
          <br />
          <br />
        </article>

        <article>
          <img src="/images/about/ona-09-sf.jpg" alt="ONA &ldquo;6 in 60&rdquo; Logo" />
          <p>2009 ONA &ldquo;6 in 60&rdquo; <strong>Winner, Audience Award</strong></p>
          <p>&ldquo;Lots of companies want to be chosen as the &lsquo;digital newsroom of the future.&rsquo; Today the audience chose Stroome.&rdquo;</p>
          <br />
          <br />
        </article>

        <article>
          <img src="/images/about/usc-comp.jpg" alt="USC New Venture Competition Logo" />
          <p>2009 USC New Venture Competition <strong>Second Place</strong></p>
          <p>&ldquo;A proven sales strategy, a working prototype and validation by customers Stroome just may go the distance.&rdquo;</p>
          <br />
          <br />
        </article>

        <article>
          <img src="/images/about/usc-stevens.jpg" alt="USC Stevens Innovator Showcase Logo" />
          <p>USC Stevens Innovator Showcase <strong>Finalist</strong></p>
          <p>&ldquo;It&rsquo;s been said good ideas are infectious, In the case of Stroomem, that old age may just be true;</p>
          <br />
          <br />
        </article>
      </div>
    </div>
    <!-- .unit -->

  </div>
  <!-- .line -->
</div>
