<%= content_for :title, "Thank You" %>
<div id="main" role="main" class="m-h-15 p-b-15 line">
  <h2 class="_header fs-29 m-b-20">
    Thank You
  </h2>

  <p class="fs-18">We have received your question. Thank you!</p>
</div>